/* Reset + base */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #070b3f;
}

h2 {
    color:white;

}

/* Main page content */
.page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login card */
.login-card {
    background: #2b2b2b;
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    width: 350px;
    text-align: center;
}

/* Logo */
.profile-img {
    width: 120px;
    margin-bottom: 20px;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.login-form button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#loginBtn {
    background: #7c2828;
    color: white;
}

#createBtn {
    background: #7c2828;
    color: white;
}


/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}


.cancelbtn {
    background: #555;
    color: white;
}

/* Footer stays at bottom */
footer {
    background: #6b1414;
    color: #aaa;
    text-align: center;
    padding: 10px;
}
