<!DOCTYPE html>
<html>
<head>
    <title>Vulcan Activity Tracker</title>
    <link rel="stylesheet" href="style/css/loginstyle.css">
</head>

<body>
    <main class="page">
        <div class="login-card">

            <img src="{{ url_for('style_folder.static', filename='img/vulcan.png') }}"
                 alt="Vulcan Logo"
                 class="profile-img">
                 <label><h2>Welcome</h2></label>

            <div class="login-form">
                <input type="text" placeholder="Enter Username" required>
                <input type="password" placeholder="Enter Password" required>

                <button id="loginBtn">Login</button>
                <button class="cancelbtn" onclick="backHome()">Cancel</button>
            </div>

        </div>
    </main>

    <footer>
        <p>&copy; 2025 The Vulcan Activity Tracker.</p>
    </footer>

<script>
function backHome() {
    window.location.href = "/";
}
</script>
</body>
</html>
