<!DOCTYPE html>
<html>
<head>
    <title>Vulcan Activity Tracker</title>
    <link rel="icon" type="image" href="../style/img/vulcan.png">
    <link rel="stylesheet" href="style/css/loginstyle.css">
</head>

<body>
    <main class="page">
        <div class="login-card">

            <img src="{{ url_for('style_folder.static', filename='img/vulcan.png') }}"
                 alt="Vulcan Logo"
                 class="profile-img">
                 <label><h2>Create Account</h2></label>

            <div class="login-form">
                <input type="email" placeholder="Enter Email" id="email_entry" required>
                <input type="text" placeholder="Enter Username" id="user_entry" required>
                <input type="password" placeholder="Enter Password" id="pass_entry" required>
                <div id="register-error" style="color: red; margin-top: 8px;"></div>

                <button id="createBtn">Submit</button>
                <button class="cancelbtn" onclick="backHome()">Cancel</button>
            </div>

            <div id="message">
                <h3> Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id ="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>

        </div>
    </main>

    <footer>
        <p>&copy; 2025 The Vulcan Activity Tracker.</p>
    </footer>

<script>
function backHome() {window.location.href = "/";}
function backToLogin() {window.location.href = "/login";}
</script>
<script src="{{ url_for('style_folder.static', filename='js/login.js') }}"></script>
</body>
</html>
