<!DOCTYPE html>
<html>
<head>
    <title>Vulcan Activity Tracker</title>
    <link rel="stylesheet" href="style/css/loginstyle.css">
</head>

<body>
  <div class="login-container">
    <img src="/style/img/vulcan.png" alt="Vulcan Logo" width="120">

    <h2>Reset Your Password</h2>

    <input
      type="password"
      id="new_password"
      placeholder="Enter new password"
      required
    >

    <button onclick="submitNewPassword()">Reset Password</button>
    <button onclick="backToLogin()">Back to Login</button>
  </div>

  <script src="/style/js/newPassword.js"></script>
</body>
</html>