 {% extends "base_temp/dashboard.html" %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('style_folder.static', filename='css/challenges.css') }}">
{% endblock %}

{% block content %}
<div class ="challenge-page">

    <h1>Challenges</h1>
    <p class="page-description">
        Compete with others and push your limits.
    </p>

    <div class="challengepage-layout">

        <!-- LEFT: CREATE FORM -->
        <form class="challengepage-form" id="create-challenge-form">
            <h3>Create Challenge</h3>

            <label>Challenge Name</label>
            <input type="text" id="challenge-name" required>

            <label>Description</label>
            <textarea id="challenge-description" rows="3"></textarea>

            <label>Activity Type</label>
            <select id="challenge-activity-type" required>
                <option value="Running">Running</option>
                <option value="Cycling">Cycling</option>
                <option value="Swimming">Swimming</option>
                <option value="Weightlifting">Weightlifting</option>
            </select>

            <label>Metric Type</label>
            <select id="challenge-metric-type" required>
                <option value="distance">Distance</option>
                <option value="count">Workout Count</option>
            </select>

            <label>Start Date</label>
            <input type="date" id="start-date" required>

            <label>End Date</label>
            <input type="date" id="end-date" required>

            <button type="submit">Create Challenge</button>
        </form>

        <!-- RIGHT: MY CHALLENGES -->
        <div class="challengepage-card">
            <h3>My Challenges</h3>
            <div class="challengepage-list" id="my-challenge-list">
                <!-- JS will inject challenges here -->
            </div>
        </div>

        <!-- RIGHT: ACTIVE CHALLENGES -->
        <div class="challengepage-card">
            <h3>All Challenges</h3>
            <div class="challengepage-list" id="all-challenge-list">
                <!-- JS will inject challenges here -->
            </div>
        </div>
    </div>
</div>

</body>
<script src="{{ url_for('style_folder.static', filename='js/challenges.js') }}"></script>

{% endblock %}